*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
    }
    body{
    width: 100vw;
    height: 100vh;
    }

    .row
    {
display: flex;
justify-content: start;
justify-content: space-evenly;

    }
    .row1
    {
        display: flex;




    }
    .col1
    {

gap: 20px;


    }