*
{
margin: 0%;
padding: 0%;
box-sizing: border-box;


}
body{
width: 100vw;
height: 100vh;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
table{
background-image: url(../media/coding-school-creative-logo1_hlb4e2.png);
background-size: cover;
background-position: center;
border: 2px solid blue;
border-collapse: collapse;


}
td,th,tr
{
border: 1px solid black ;
text-align: center;
background:linear-gradient(to left,white,red,orange);

}
