body
{
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.image
{

height: 300px;
width: 200px;
}
.all
{padding-bottom: 300px;
justify-content: center;
text-align: center;
}